/*COMMON*/
.content-page{
	/*Background*/
	background-color: transparent;
	/*Scrolling*/
	overflow-x: hidden;
	overflow-y: scroll}
	
	/*Background*/
#content-frame{
	position: absolute;
	top: -100%; left:0;
	width: 100%; height: 100%;
	/*(Animation)*/
	transition-property: top;
	transition-duration: 2s;
	/*(for Firefox)*/
	-moz-transition-property: top;
	-moz-transition-duration: 2s;
	/*(for Safari & Chrome)*/
	-webkit-transition-property: top;
	-webkit-transition-duration: 2s;
	/*(for Opera)*/
	-o-transition-property: top;
	-o-transition-duration: 2s}


	/*Title*/
#title{
	position: relative; z-index: 2;
	width: 540px; height: 90px;
	margin-top: 30px;
	margin-bottom: 30px}

	/*Copyright*/
#copyright{
	position: relative;
	text-align: center;
	font-variant: normal;
	font-size: 75%;
	margin-top: 50px;
	margin-bottom: 50px}

/*HOME*/
	
/*PHOTOGRAPH*/
#photography{list-style: none}

#viewer{
	position: absolute; z-index: 1;
	width: 100%;
	padding: 50px 10px 50px 10px}

.photos{
	margin: 10px 0 10px 0;
	width: 700px}

#photo-title, .photo-info{
	text-align: center;
	font-variant: normal}
	
#photo-title{
	font-size: 300%;
	text-transform: uppercase}

#set-list{
	width: 550px;
	margin: 10px 0 0 10px}

.set-thumbnail{
	/*float: right;*/
	/*text-align: left;*/
	width: 100px;
	margin: 0 10px 10px 0;
	/*(Animation)*/
	opacity: 0.65;
	transition-property: opacity;
	transition-duration: 0.5s;
	/*(for Firefox)*/
	-moz-transition-property: opacity;
	-moz-transition-duration: 0.5s;
	/*(for Safari & Chrome)*/
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.5s;
	/*(for Opera)*/
	-o-transition-property: opacity;
	-o-transition-duration: 0.5s}
.set-thumbnail:hover{opacity: 1}