/*HOMEPAGE*/
#index{
	/*Scrolling*/
	overflow-x: hidden;
	overflow-y: scroll}
	
	/*Background Image*/
#background-style{display: none}

/*MENU*/
	/*Catalog*/
#menu-switch{
	position: absolute; z-index: 2;
	top: 1%; right: 2%;
	width: 10%}	

.catalog-icon{
	width: 5%;
	margin: 3% 0 0 3%}

#catalog{
	position: absolute; z-index: 2;
	top: 1%; left: 2%;
	width: 85%;
	text-transform: uppercase;
	list-style-type: none;
	background-color: maroon;
	display: none}

#primary-catalog li, #secondary-catalog li{
	text-align: center;
	width: 100%;
	font-size: 200%;
	font-weight: bold;
	padding: 2% 0 3% 0}

/*(Animation)*/
/*(for Safari & Chrome)*/
@-webkit-keyframes animation-rotate{
	from{-webkit-transform: rotate(0deg)}
	to{-webkit-transform: rotate(360deg)}}
@-webkit-keyframes animation-shine{
	0%{opacity: 1}
	20%{opacity: 0}
	40%{opacity: 1}
	100%{opacity: 1}}

/*(for Firefox)*/
@-moz-keyframes animation-rotate{
	from{-moz-transform: rotate(0deg)}
	to{-moz-transform: rotate(360deg)}}
@-moz-keyframes animation-shine{
	0%{opacity: 1}
	20%{opacity: 0}
	40%{opacity: 1}
	100%{opacity: 1}}
	
/*(for IE)*/
@-ms-keyframes animation-rotate{
	from{-ms-transform: rotate(0deg)}
	to{-ms-transform: rotate(360deg)}}
@-ms-keyframes animation-shine{
	0%{opacity: 1}
	20%{opacity: 0}
	40%{opacity: 1}
	100%{opacity: 1}}

/*PAGE*/
#content-frame{
	position: absolute; z-index: 1;
	top: 0; left: 0;
	width: 100%; height: 100%}

/*SETTING*/

#setting-frame{
	position: fixed; z-index: 3;
	top: 0; left: 0;
	width: 100%; height: 100%;
	padding: 3% 5% 3% 5%;
	list-style-type: none;
	font-size: 200%;
	display: none}
	
	/*Setting background*/
#setting-style{display: none}

.setting-icon, .language-icon{
	width: 5%;
	margin: 0 1% 0 1%}

#setting-frame div{margin-bottom: 2%}

#nomusic:hover{text-decoration: line-through}

#setting-logo{
	width: 10%;
	margin-right: 2%;
	animation-name: animation-rotate;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear}

	/*Music Player*/
#player{
	position: relative;
	top: 0; left: -12px;
	width: 320px; height: 50px}
	
/*(Animation)*/
/*(for Safari & Chrome)*/
@-webkit-keyframes setting-pop{
	from{top: -200%}
	to{top: 0}}
@-webkit-keyframes setting-fade{
	from{top: 0}
	to{top: -200%}}

/*(for Firefox)*/
@-moz-keyframes setting-pop{
	from{top: -200%}
	to{top: 0}}
@-moz-keyframes setting-fade{
	from{top: 0}
	to{top: -200%}}
	
/*(for IE)*/
@-ms-keyframes setting-pop{
	from{top: -200%}
	to{top: 0}}
@-ms-keyframes setting-fade{
	from{top: 0}
	to{top: -200%}}